
<div>
    <form action="" method="post">
     <input type="text">
     <button type="submit">Enviar</button>   
    </form>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>