<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <h2>Ingresar un producto</h2>

    <div>
    <form action="" method="post">
     <input type="text">
     <input type="text">
     <input type="text">
     <input type="text">
     <input type="text">
     <input type="text">
     <button type="submit">Enviar</button>   
    </form>

</div>

    <h2>Eliminar un producto</h2>

<div>
    <form action="" method="post">
     <input type="text">
     <button type="submit">Enviar</button>   
    </form>

</div>

    <title>Listado de Productos en Tiempo Real</title>
</head>
<body>
    <h1>Listado de Productos en Tiempo Real</h1>
    <ul id="product-list">
        {{#each products}}
        <li data-id="{{this.pid}}">
            {{this.title}} - ${{this.price}}
        </li>
        {{/each}}
    </ul>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
</html>